In [19]:
import pandas as pd
obj=pd.Series([2,1,5,4,0.6,-4])
print(obj)

0    2.0
1    1.0
2    5.0
3    4.0
4    0.6
5   -4.0
dtype: float64

In [6]:
obj=pd.Series([2,3,1,5,6,3],index=['a','b','c','y','h','k'])
print(obj)
print(obj.values)#it return value
print(obj.index)

a    2
b    3
c    1
y    5
h    6
k    3
dtype: int64
[2 3 1 5 6 3]
Index(['a', 'b', 'c', 'y', 'h', 'k'], dtype='object')

In [9]:
print(obj['h'])
print(obj[['a','c','k']])

6
a    2
c    1
k    3
dtype: int64

In [10]:
print(obj[obj>2])#it returns value which greater then 2

b    3
y    5
h    6
k    3
dtype: int64

In [11]:
print(obj*3)

a     6
b     9
c     3
y    15
h    18
k     9
dtype: int64

In [14]:
print('b' in obj)
print('d' in obj)

True
False

In [2]:
data={'ohio':3,
      'texas':4,
      'Hamra':5
     }
print(pd.Series(data))

ohio     3
texas    4
Hamra    5
dtype: int64

In [3]:
state=['ohio','Sugar','Hamra','Lemon']#there is ohio and Hamra match data and other does not
ob1=pd.Series(data,index=state)
ob1

ohio     3.0
Sugar    NaN
Hamra    5.0
Lemon    NaN
dtype: float64

In [24]:
print(pd.isnull(ob1))#sugar and Lemon is null because there is no Value

ohio     False
Sugar     True
Hamra    False
Lemon     True
dtype: bool

In [15]:
data={
    'ohio':1200,
    'texas':200,
    'Hamra':100
}
obj1=pd.Series(data)
print(obj1)
data1={
    'ohio':100,
    'texas':200,
    'Hamra':230
}
obj2=pd.Series(data1)
print(obj2)
print("After Addition")
obj1+obj2

ohio     1200
texas     200
Hamra     100
dtype: int64
ohio     100
texas    200
Hamra    230
dtype: int64
After Addition

ohio     1300
texas     400
Hamra     330
dtype: int64

In [17]:
obj2.name='population' #updated
obj2

ohio     100
texas    200
Hamra    230
Name: population, dtype: int64

In [18]:
obj2.index.name='States' #Create index
obj2

States
ohio     100
texas    200
Hamra    230
Name: population, dtype: int64

In [22]:
obj #Create above
obj.index=['Texas','ohio','Karela','Us','naka','tap'] #list
obj

Texas     2.0
ohio      1.0
Karela    5.0
Us        4.0
naka      0.6
tap      -4.0
dtype: float64

DATA FRAME

In [24]:
Data={
    'state':['Karachi','Lahore',"faisalabad","Rawalpindi"],#Arrays length must be same
    'Year':[2018,2019,2020,2021],
    'POp':[1.2,1.2,3.4,5.4]
}
frame=pd.DataFrame(Data)
frame

        state  Year  POp
0     Karachi  2018  1.2
1      Lahore  2019  1.2
2  faisalabad  2020  3.4
3  Rawalpindi  2021  5.4

In [31]:
pd.DataFrame(Data,columns=['state','POp','Year']) #columns name as you want

        state  POp  Year
0     Karachi  1.2  2018
1      Lahore  1.2  2019
2  faisalabad  3.4  2020
3  Rawalpindi  5.4  2021

In [32]:
frame2=pd.DataFrame(Data,columns=['Year','state','POp'],index=['a','b',"c",'d'])
frame2

   Year       state  POp
a  2018     Karachi  1.2
b  2019      Lahore  1.2
c  2020  faisalabad  3.4
d  2021  Rawalpindi  5.4

In [33]:
frame2.columns

Index(['Year', 'state', 'POp'], dtype='object')

In [34]:
frame2.state

a       Karachi
b        Lahore
c    faisalabad
d    Rawalpindi
Name: state, dtype: object

In [35]:
frame2.Year

a    2018
b    2019
c    2020
d    2021
Name: Year, dtype: int64